body {
  background: #1c3d5b;
  color: #ADD8E6;
  text-align: center;
}

a {
  text-decoration: none;
}

a:visited {
  color: #ADD8E6;
}

a:hover {
  text-decoration: underline;
}

p.main {
  float: left;
  text-align: left;
}

img {
  float: right;
  height: 320;
  width: 240;
}

footer {
  border-top: 1px solid #ADD8E6;
  clear: both;
}
