body {
  background: #1c3d5b;
  color: #ADD8E6;
  text-align: center;
}

a {
  text-decoration: none;
}

a:visited {
  color: #ADD8E6;
}

a:hover {
  text-decoration: underline;
}

p.objective {
  float: left;
  text-align: left;
}

img {
  float: right;
  height: 320px;
  width: 240px;
}

footer {
  color: #ADD8E6;
  border-top: 1px solid #ADD8E6;
  clear: both;
}

#contact {
  float: left;
}

#sitemap {
  float: right;
}
