body {
  background: #1c3d5b;
  color: #ADD8E6;
  text-align: center;
}

header main footer {
  min-width: 855px;
  overflow: auto;
}

header .container, main .container, footer .container {
  max-width: 855px;
}

header h1 {
  float: left;
  width: 570px;
}

nav {
  float: right;
  width: 285px;
}

a {
  color: #ADD8E6;
  text-decoration: none;
}

a:visited {
  color: #ADD8E6;
}

a:hover {
  text-decoration: underline;
}

p.objective {
  float: left;
  text-align: left;
  width: 570px;
}

img {
  float: right;
  height: 285px;
  width: 285px;
}

footer {
  border-top: 1px solid #ADD8E6;
  clear: both;
}

div.contact {
  float: left;
}

div.sitemap {
  float: right;
}
